{{ define "main" }}

<div class="searchbar">
    <input placeholder="search">
</div>

<center>
    <div class="product">

        <div class="box">
            <img src="https://www.bing.com/th?id=OPAC.7vWWBM1X0yb4BA474C474&o=5&pid=21.1&w=140&h=140&rs=1&qlt=100&dpr=1&o=2&c=8&pcl=f5f5f5">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Culpa, ea exercitationem.
            </p>
        </div>

        <div class="box">
            <img src="https://www.bing.com/th?id=OPAC.18%2Fjq0yd5QJ0%2FQ474C474&o=5&pid=21.1&w=140&h=140&rs=1&qlt=100&dpr=1&o=2&c=8&pcl=f5f5f5">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus aut ab aperiam.
            </p>
        </div>

        <div class="box">
            <img src="https://www.bing.com/th?id=OPAC.MurfvbQcRGPRVw474C474&o=5&pid=21.1&w=140&h=140&rs=1&qlt=100&dpr=1&o=2&c=8&pcl=f5f5f5">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus aut ab aperiam.
            </p>
        </div>

    </div>
</center>

<div class="about">
    <h1>About Us</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laborum repudiandae dignissimos consequatur odio nihil fuga
        praesentium eligendi, et modi repellat sint.
        Temporibus provident, omnis, unde reprehenderit qui,
        nam praesentium explicabo magni consequatur ipsam maxime laborum.
        Rerum consectetur, eligendi officiis harum in quod obcaecati
        commodi dicta est quo veniam facilis non reiciendis eveniet
        cupiditate neque esse a ducimus corporis dignissimos delectus.
    </p>

</div>

{{ end }}